<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="Wrap">
        <h1>{{title}}</h1>

        <div class="link">
            <a href="/" >Weather</a>
            <a href="/about"> About</a>
            <a href="/help"> Help</a>
        </div>
        <img src="/img/logo.png">

        {{!-- <p>Use this site to get Weather</p> --}}
        </div>
        {{!-- <p class="me">Created By {{name}}</p> --}}
    </body>

</html>