<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css" >

    </head>

    <body>
        <div class="Wrap">
        <h1>{{title}}</h1>

        <div class="link">
            <a href="/" >Weather</a>
            <a href="/about"> About</a>
            <a href="/help"> Help</a>
        </div>
        {{!-- <p>Use this site to get Weather</p> --}}

        <p>{{helptext}}</p>
        <p>Contact Here :-</p>
        <p>rvraj.0777@gmail.com</p>

        </div>
    </body>

</html>