<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css" >
        {{!-- <script src="/js/app.js"></script> --}}
       
        
    </head>

    <body>
        <div class="Wrap">
        <h1>{{title}}</h1>
        <div class="link">
            <a href="/" >Weather</a>
            <a href="/about"> About</a>
            <a href="/help"> Help</a>
        </div>
        <p class="pp">Use this site to get Weather</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <div class="me">
        <p >Created By {{name}}</p>
        </div>
        </div>

         <script src="/js/app.js"></script>
    </body>

</html>